.img-slider{
    margin-left: 30px;
}
.cont{
    display: flex;
}
.back{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 20%;
    .button-1{
        background-color: #62b1dc;
        color: black;
        font-weight: 600;
        text-align: center;
        height: 30px;
        width: 100px;
        border-radius: 5px;
    }
    .button-1:hover{
        background-image: linear-gradient(aqua, #03bffc);
        color: black;
    }
}

@media only screen and (device-height: 600px),
only screen and (max-height:600px) { 
    .tags {
        color: #5CE1E6;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        left: 14%;
        font-size: 150%;
        font-family: "La Belle Aurore";
    }
    .bottom-tag-html{
        margin-left: -20px;
        
    }
    .img-slider{
        margin-top: 1%;
        margin-left: 25%;
    }
    .cont{
        display: flex;
    }
    .back{
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 13%;
        .button-1{
            background-color: #62b1dc;
            color: black;
            font-weight: 600;
            text-align: center;
            height: 30px;
            width: 100px;
            border-radius: 5px;
        }
        .button-1:hover{
            background-image: linear-gradient(aqua, #03bffc);
            color: black;
        }
    }

}

@media only screen and (device-width: 600px),
only screen and (max-width:600px) { 
    .img-slider{
        margin-top: 10%;
        margin-left: 0;
    }
    .cont{
        display: flex;
    }
    .back{
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 90%;
        left: 20%;
        .button-1{
            background-color: #62b1dc;
            color: black;
            font-weight: 600;
            text-align: center;
            height: 30px;
            width: 100px;
            border-radius: 5px;
        }
        .button-1:hover{
            background-image: linear-gradient(aqua, #03bffc);
            color: black;
        }
    }
}
