.game2{

    .cont{
        display: inline-block;
        position: absolute;
        top: 3vh;
        left: 16%;

        h3{
            margin: 0 auto;
            text-align: center;
            width: 70%;
            font-size: 250%;
            font-weight: 600;
            color: white;
            background-color: black;
        }
        h1{
            text-align: center;
            font-size: 300%;
            font-weight: 600;  
            color: white;
        }
        .button-modal{
            left: 20%;
            margin-top: 5vh;
            margin-bottom: 20px;
            text-align: center;
            .button-1{
                background-color: #cdc1b5;
                color: black;
                font-weight: 600;
                text-align: center;
                height: 30px;
                width: 100px;
            }
            .button-1:hover{
                background-image: linear-gradient(#eec744, #f4b17a);
                color: black;
            }
        }
        #gameboard{
            
            width: 64vh;
            height: 64vh;
            display: flex;
            flex-wrap: wrap;

            .trigger{
                display: none;
                position: absolute;
            }

            .square{
                touch-action: none;
                height: 8vh;
                width: 8vh;
                position: relative;

                svg{
                    touch-action: none;
                    height:7vh;
                    width: 7vh;
                    margin: 5px;
                    position: relative;
                    z-index: -9;
                }

                path{
                    touch-action: none;
                    position: relative;
                    z-index: -10;
                }
                .piece{
                    touch-action: none;
                    position: relative;
                    z-index: 9;
                }
            }

            .beige{
                background-color: rgb(110,110,98);
            }
            .brown{
                background-color: brown;
            }
            .black{
                fill: black;
            }
            .white{
                fill: wheat;
            }
        }
    }
}

@media only screen and (device-width: 600px),
only screen and (max-width:600px) { 

    .game2{

        .cont{
            display: inline-block;
            position: absolute;
            top: 15vh;
            left: 16%;
    
            h3{
                font-size: 250%;
                font-weight: 600;
                color: white;
            }
            h1{
                font-size: 250%;
                font-weight: 600;  
                color: white;
            }
            .button-modal{
                left: 20%;
                margin-top: 5vh;
                margin-bottom: 20px;
                text-align: center;
                .button-1{
                    background-color: #cdc1b5;
                    color: black;
                    font-weight: 600;
                    text-align: center;
                    height: 30px;
                    width: 100px;
                }
                .button-1:hover{
                    background-image: linear-gradient(#eec744, #f4b17a);
                    color: black;
                }
            }
            #gameboard{
                
                width: 320px;
                height: 320px;
                display: flex;
                flex-wrap: wrap;
    
                .trigger{
                    display: none;
                    position: absolute;
                }
    
                .square{
                    height: 40px;
                    width: 40px;
                    position: relative;
    
                    svg{
                        height:30px;
                        width: 30px;
                        margin: 5px;
                        position: relative;
                        z-index: -9;
                    }
    
                    path{
                        position: relative;
                        z-index: -10;
                    }
                    .piece{
                        position: relative;
                        z-index: 9;
                    }
                }
    
                .beige{
                    background-color: rgb(110,110,98);
                }
                .brown{
                    background-color: brown;
                }
                .black{
                    fill: black;
                }
                .white{
                    fill: wheat;
                }
            }
        }
    }
}
